{% extends "::fos_user_layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_title %}Vérification de l'adresse mail{% endblock fos_user_title %}

{% block fos_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
{% endblock %}
