{% set feed = path('competitions_feed', {
    'display': display,
    'page': page,
    'id': competition.id,
    'slug': competition.slug
}) %}

{% set unfeed = path('competitions_unfeed', {
    'display': display,
    'page': page,
    'id': competition.id,
    'slug': competition.slug
}) %}

{% set text = 'S\'abonner à la compétition' %}
{% set class = 'success' %}

{% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    {% if competition.followers.contains(app.user) %}
        {% set link = unfeed %}
        {% set text = 'Se désabonner de la compétition' %}
        {% set class = 'warning' %}
    {% else %}
        {% set link = feed %}
    {% endif %}
    {% set isAuthor = competition.author.id == app.user.id %}
{% else %}
    {% set link = path('fos_user_security_login') %}
    {% set isAuthor = false %}
{% endif %}

{% if not isAuthor %}
    <a href="{{ link }}" class="btn btn-{{ class }}">
        <i class="fa fa-rss"></i><span class="hidden-xs">{{ text }}</span>
    </a>
{% endif %}