{% extends '::base.html.twig' %}

{% block site_title %}En construction - {{ parent() }}{% endblock site_title %}

{% block body %}
    <div class="container">
        <div class="jumbotron" style="margin-top: 100px;">
            <h1>En construction</h1>
            <p>
                Ce site est actuellement en construction, l'équipe du Bowling Club Poitevin de Poitiers vous donne
                rendez-vous prochainement.
            </p>
        </div>
    </div>
{% endblock body %}