<div class="footer-ctn">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <h4>Retrouvez nous sur facebook !</h4>
                <a href="https://www.facebook.com/BCPPoitiers" target="_blank" class="btn btn-round btn-default">
                    <i class="fa fa-facebook-official"></i>
                </a>
            </div>
            <hr class="hidden-lg hidden-md">
            <div class="col-md-4">
                <h4>Envoyez nous une lettre !</h4>
                Bowling Club Poitevin<br>
                11 place des sablons<br>
                86000 POITIERS
            </div>
            <hr class="hidden-lg hidden-md">
            <div class="col-md-4">
                <h4>Envoyez nous un mail !</h4>
                <a href="mailto:bowlingclubpoitevin@gmail.com" class="btn btn-round btn-default">
                    <i class="fa fa-send"></i>
                </a>
            </div>
        </div>
    </div>
</div>