<div class="col-md-12 col-cancel-padding">
    <div class="competition-pre-ctn">
        <div class="text-ctn">
            <div class="row">
                <div class="col-md-12">
                    {% if message.author.id == app.user.id and inForm is not defined %}
                        <a href="{{ path('competitions_messages_remove', {
                            'display': display,
                            'page': page,
                            'messagesPage': messagesPage,
                            'id': message.id
                        }) }}" class="btn btn-danger pull-right">
                            <i class="fa fa-remove"></i><span class="hidden-xs">Supprimer le message</span>
                        </a>
                    {% endif %}
                    <h5 class="title">
                        {{ message.author.username }}
                        <small class="subtitle">le {{ message.created|date('d/m/Y, H:i:s') }}</small>
                    </h5>
                    {{ message.content|raw }}
                </div>
            </div>
        </div>
    </div>
</div>