.body-ctn {
    padding-top: 50px;
}

.motto a {
    color: #FFFFFF;
}

.col-cancel-padding {
    padding-left: 0;
    padding-right: 0;
}

/* DateTimePicker */
.bootstrap-datetimepicker-widget .btn {
    border-width: 0;
}

/* Alert */
.alert-ctn .alert {
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

/* View */
.view-ctn {
    background-color: #fff;
    position: relative;
    top: -30px;
    border-radius: 10px 10px 0px 0px;
    background: linear-gradient(0deg, rgb(247, 245, 243) 0%, rgb(255, 255, 255) 100%);
}

.view-header, .content-ctn {
    padding: 15px;
}

.images-ctn {
    text-align: center;
}

.social-ctn, .footer-ctn {
    color: #FFFFFF;
    background: linear-gradient(135deg, rgba(62, 62, 62, 0.890196) 0%, rgb(21, 21, 21) 100%);
    padding: 30px;
}

.social-ctn .social-title {
    margin: 0 0 10px 0;
}

/* Post and Competition Preview */
.pagination-ctn {
    padding: 0;
    margin-top: 10px;
    text-align: center;
}

.pagination {
    margin: 0 0 10px 0;
}

.post-pre-ctn, .competition-pre-ctn {
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border-radius: 6px;
}

.post-link, .competition-link {
    color: #333;
}

.img-ctn, .text-ctn {
    margin: 0;
    vertical-align: middle;
    padding-left: 0;
}

.post-pre-ctn .text-ctn .title, .competition-pre-ctn .text-ctn .title {
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0;
}

.title .subtitle {
    display: block;
}

/* Competition list */
.text-ctn {
    padding: 5px 10px;
}

/* Competition create */
.competition-form-ctn {
    padding: 10px;
}

/* Pages list */
.title-like {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

/* Newsletter */
.newsletter-ctn {
    background-color: #FFFFFF;
    padding: 20px;
}

.newsletter-ctn h6 {
    font-size: 22px;
    font-weight: 200;
    line-height: 40px;
    color: rgb(85, 85, 85);
    margin: 0px;
}

/* Gallery */
.gallery-ctn {
    padding: 10px;
}
.gallery-ctn .preview {
    margin-bottom: 5px;
}

/* Social Buttons */
.btn-social {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 20px;
    opacity: 0.9;
    margin: 5px 1px;
    min-width: 140px;
}
.btn-social:hover {
    opacity: 1;
}
.btn-facebook, .btn-facebook:hover, .btn-facebook:active, .btn-facebook:focus {
    background-color: rgb(59, 89, 152);
    border-color: rgb(59, 89, 152);
    color: #FFFFFF;
}
.btn-twitter, .btn-twitter:hover, .btn-twitter:active, .btn-twitter:focus {
    color: #FFFFFF;
    background-color: rgb(85, 172, 238);
    border-color: rgb(85, 172, 238);
}
.btn-google, .btn-google:hover, .btn-google:active, .btn-google:focus {
    background-color: rgb(221, 75, 57);
    border-color: rgb(221, 75, 57);
    color: #FFFFFF;
}
.btn-email, .btn-email:hover, .btn-email:active, .btn-email:focus {
    color: rgb(102, 102, 102);
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

/* Footer */
.footer-ctn .btn {
    opacity: 1;
    color: #FFFFFF;
    border-color: #FFFFFF;
}