<div class="bcp-cookie-consent">
    En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de Cookies pour vous proposer des publicités ciblées adaptés à vos centres d’intérêts et réaliser des statistiques de visites.
    <button type="button" class="btn btn-primary" data-url="{{ path('ajax_cookie_consent', {'cookieName': 'bcp_cookie_consent'}) }}" onclick="ajaxCookieConsent(this);">OK</button>
</div>