{% set fb = 'http://www.facebook.com/sharer/sharer.php?u=' ~ shareUrl ~ '&title=' ~ title %}
{% set twitter = 'http://twitter.com/intent/tweet?status=' ~ title ~ '+' ~ shareUrl %}
{% set google = 'https://plus.google.com/share?url=' ~ shareUrl %}
{% set mail = 'mailto:?subject=' ~ title ~ '&body=' ~ shareUrl %}

<div class="social-ctn">
    <div class="container text-center">
        <h2 class="social-title">Vous avez aimé ce contenu ? Partagez le !</h2>
        <a href="#" onclick="newWindow('{{ fb }}'); return false;" class="btn btn-round btn-social btn-fb" title="Facebook">
            <i class="fa fa-facebook"></i> Facebook
        </a>
        <a href="#" onclick="newWindow('{{ twitter }}'); return false;" class="btn btn-round btn-social btn-twitter" title="Twitter">
            <i class="fa fa-twitter"></i> Twitter
        </a>
        <a href="#" onclick="newWindow('{{ google }}'); return false;" class="btn btn-round btn-social btn-google" title="Google+">
            <i class="fa fa-google-plus"></i> Google+
        </a>
        <a href="#" onclick="newWindow('{{ mail }}'); return false;" class="btn btn-round btn-social btn-email" title="Email">
            <i class="fa fa-send"></i> Email
        </a>
    </div>
</div>