<div class="col-md-12">
    <div class="alert alert-info">
        <div class="container">
            <div class="alert-img"><i class="fa fa-5x fa-calendar"></i></div>
            <div class="alert-content">Il n'y a pas encore de compétition en ligne. Soyez la première personne à en publier une !</div>
        </div>
    </div>
</div>