<div class="modal fade" id="first-use-competitions" tabindex="-1" role="dialog" aria-labelledby="premiereUtilisation">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Votre première utilisation !</h4>
            </div>
            <div class="modal-body">
                <p>Hey ! Nous sommes très heureux de vous voir ici !</p>
                <p>
                    Vous recherchez des partenaires pour vos prochaines compétitions ? Cette nouvelle partie
                    est là pour vous aider !
                </p>
                <hr>
                <h4>L'affichage</h4>
                <div class="row">
                    <div class="col-md-4">
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-list"></i> Affichage liste
                        </a>
                    </div>
                    <div class="col-md-8">
                        Affiche l'ensemble des compétitions sous forme d'une liste paginée. Vous pouvez alors les
                        parcourir en les faisant défiler de haut en bas.
                    </div>
                </div>
                <div class="row margin-top">
                    <div class="col-md-4">
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-calendar"></i> Affichage calendrier
                        </a>
                    </div>
                    <div class="col-md-8">
                        Affiche l'ensemble des compétitions au sein d'un calendrier intéractif. Vous pouvez alors les
                        parcourir en utilisant les boutons prévus à cet effet.<br>
                        <div class="btn-group">
                            <button class="btn btn-primary" data-calendar-nav="prev">
                                <i class="fa fa-chevron-circle-left"></i> Précédent
                            </button>
                            <button class="btn btn-primary" data-calendar-nav="today">
                                Aujourd'hui
                            </button>
                            <button class="btn btn-primary" data-calendar-nav="next">
                                Suivant <i class="fa fa-chevron-circle-right"></i>
                            </button>
                        </div>
                        <div class="visible-xs" style="width: 100%; height: 10px;"></div>
                        <div class="btn-group">
                            <button class="btn btn-warning" data-calendar-view="year">Année</button>
                            <button class="btn btn-warning active" data-calendar-view="month">Mois</button>
                            <button class="btn btn-warning" data-calendar-view="week">Semaine</button>
                            <button class="btn btn-warning" data-calendar-view="day">Jour</button>
                        </div>
                    </div>
                </div>
                <hr>
                <h4>Les fonctionnalités</h4>
                <div class="row">
                    <div class="col-md-4">
                        <a href="#" class="btn btn-success">
                            <i class="fa fa-plus-circle"></i> Ajouter une compétition
                        </a>
                    </div>
                    <div class="col-md-8">
                        Vous permet de créer une annonce pour faire savoir aux autres que vous recherchez des partenaires.
                    </div>
                </div>
                <div class="row margin-top">
                    <div class="col-md-4">
                        <a href="#" class="btn btn-success">
                            <i class="fa fa-pencil"></i> Modifier la compétition
                        </a>
                    </div>
                    <div class="col-md-8">
                        Vous permet de modifier vos annonces.
                    </div>
                </div>
                <div class="row margin-top">
                    <div class="col-md-4">
                        <a href="#" class="btn btn-danger">
                            <i class="fa fa-remove"></i> Supprimer la compétition
                        </a>
                    </div>
                    <div class="col-md-8">
                        Vous permet de supprimer vos annonces.<br>
                        <i class="fa fa-exclamation-triangle"></i> Cette action est irréversible, toutes les
                        informations et messages seront perdus définitivement.
                    </div>
                </div>
                <div class="row margin-top">
                    <div class="col-md-4">
                        <a href="#" class="btn btn-info">
                            <i class="fa fa-commenting"></i> Accéder aux messages
                        </a>
                    </div>
                    <div class="col-md-8">
                        Vous permet de consulter l'ensemble des messages laissés par les autres utilisateurs et vous même.
                    </div>
                </div>
                <hr>
                <h4>Les abonnements</h4>
                <div class="row">
                    <div class="col-md-4">
                        <a href="#" class="btn btn-success">
                            <i class="fa fa-rss"></i> S'abonner à la compétition
                        </a>
                    </div>
                    <div class="col-md-8">
                        Une fois abonné(e) à la compétition, vous recevrez des alertes par mail quand :
                        <ul>
                            <li>une modification aura été effectuée</li>
                            <li>une nouveau message aura été déposé</li>
                        </ul>
                    </div>
                </div>
                <div class="row margin-top">
                    <div class="col-md-4">
                        <a href="#" class="btn btn-warning">
                            <i class="fa fa-rss"></i> Se désabonner de la compétition
                        </a>
                    </div>
                    <div class="col-md-8">
                        Vous permet de vous désabonner de la compétition, nous ne recevrez alors plus les alertes
                        la concernant.
                    </div>
                </div>
                <hr>
                <h4>Votre avis nous intéresse !</h4>
                <div class="row">
                    <div class="col-md-4">
                        <a href="#" class="btn btn-fill btn-info">
                            <i class="fa fa-question-circle"></i> Une remarque ou réclamation ?
                        </a>
                    </div>
                    <div class="col-md-8">
                        Vous trouverez ce bouton en bas à droite de votre écran. Il vous permet de nous faire
                        parvenir vos remarques ou réclamations. N'hésitez pas à nous faire part de vos impressions
                        et idées d'améliorations, nous ferons alors de notre mieux pour vous répondre.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-fill btn-default" data-dismiss="modal">
                    <i class="fa fa-close"></i> Fermer
                </button>
                <a href="{{ path('competitions_first_use') }}" class="btn btn-fill btn-primary">
                    <i class="fa fa-check"></i> Très bien merci
                </a>
            </div>
        </div>
    </div>
</div>
