{% set emailRender = inEmail is defined ? true : false %}

<table class="table"{% if emailRender %} style="width: 100%; color: #333; border: 1px solid #333; margin: 10px;"{% endif %}>
    <tr>
        <th>Bowling</th>
        <th>Partenaires recherchés</th>
        <th>Débute le</th>
        <th>Fini le</th>
    </tr>
    <tr>
        <td{% if emailRender %} align="center"{% endif %}>{{ competition.bowling }}</td>
        <td{% if emailRender %} align="center"{% endif %}>{{ competition.partners }}</td>
        <td{% if emailRender %} align="center"{% endif %}>{{ competition.start|date('d/m/Y à H:i') }}</td>
        <td{% if emailRender %} align="center"{% endif %}>{{ competition.end|date('d/m/Y à H:i') }}</td>
    </tr>
</table>
