{% if competitions.getTotalItemCount > limit %}
    <div class="row">
        <div class="col-md-12 pagination-ctn">
            {{ knp_pagination_render(competitions) }}
        </div>
    </div>
{% endif %}