{% extends '@App/default/view.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning">
                <p>Le contenu de cette page n'est plus maintenu, il se peut donc que certains liens ne fonctionnent plus.
                    Nous nous excusons pour la gène occasionnée.</p>
            </div>

            {% block archive_content %}{% endblock archive_content %}
        </div>
    </div>
{% endblock content %}
