{% extends 'base.html.twig' %}

{% block body %}
    <div class="container view-ctn">
        <div class="row view-header">
            {% block header %}
                <div class="col-md-12 cancel-padding">
                    <div class="pull-right">
                        <a href="{{ path('homepage') }}" class="btn btn-default"><i class="fa fa-home"></i> Accueil</a>
                    </div>
                </div>
            {% endblock header %}
        </div>
        <div class="row view-content">
            {% block content %}{% endblock content %}
        </div>
    </div>
    {% block footer %}{% endblock footer %}
{% endblock body %}
